@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --yellow:#f9d806;
    --light-yellow:#ffee80;
    --black:#130f40;
    --light-color:#666;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

.btn{
    display: inline-block;
    margin-top: 10px;
    border-radius: 50px;
    background: var(--light-yellow);
    color: var(--black);
}

.btn:hover{
    background-color: var(--yellow);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 9%;
}

.header .logo{
    font-size: 2.5rem;
    color: var(--black);
    font-weight: bolder;
}

.header .logo span{
    color: var(--yellow);
}

.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}

.header .navbar a:hover{
    color: var(--yellow);
}

.header #login-btn i{
    font-size: 2.5rem;
    color: var();
}


/* Home Section Start */

.buton{
    display: inline-block;
    margin-top: 1rem;
    border-radius: .5rem;
    background: var(--light-yellow);
    color: var(--black);
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.buton:hover{
    background: var(--yellow);
}

.home{
    padding-top: 10rem;
    text-align: center;
    overflow-x: hidden;
}

.home h1{
    font-size: 7.5rem;
    text-transform: uppercase;
    color: var(--black);
}

.home img{
    width: 100%;
}

section{
    padding: 2rem 9%;
}

/* Home Section End */

/* Icons Start */

.icons-container{
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 15px;
    background: #eee;
}

.icons-container .icons{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
}

.icons-container .icons i{
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 25px;
    border-radius: 50px;
    background: #eee;
    text-align: center;
}

.icons-container .icons .content h3{
    color: var(--yellow);
    font-size: 25px;
}

.icons-container .icons .content p{
    color: var(--black);
    font-size: 15px;
}

.icons-container .icons:hover{
    background: var(--black);
}

.icons-container .icons:hover i{
    background: var(--yellow);
}

.icons-container .icons:hover .content h3{
    color: #fff;
}

.icons-container .icons:hover .content p{
    color: #eee;
}
/* Icons End */