@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --yellow:#f9d806;
    --light-yellow:#ffee80;
    --black:#130f40;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

.btn{
    display: inline-block;
    margin-top: 10px;
    border-radius: 50px;
    background: var(--light-yellow);
    color: var(--black);
}

.btn:hover{
    background-color: var(--yellow);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 9%;
}

.header .logo{
    font-size: 2.5rem;
    color: var(--black);
    font-weight: bolder;
}

.header .logo span{
    color: var(--yellow);
}

.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}

.header .navbar a:hover{
    color: var(--yellow);
}

.header #login-btn i{
    font-size: 2.5rem;
    color: var();
}


/************** Home Section Start *************/

.buton{
    display: inline-block;
    margin-top: 10px;
    border-radius: .5rem;
    background: var(--light-yellow);
    color: var(--black);
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
    padding: .8rem 30px;
}

.buton:hover{
    background: var(--yellow);
}

.home{
    padding-top: 10rem;
    text-align: center;
    overflow-x: hidden;
}

.home h1{
    font-size: 7.5rem;
    text-transform: uppercase;
    color: var(--black);
}

.home img{
    width: 100%;
}

section{
    padding: 2rem 9%;
}

/**************** Home Section End ****************/


/**************** Icons Start *******************/

.icons-container{
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 15px;
    background: #eee;
}

.icons-container .icons{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
}

.icons-container .icons i{
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 25px;
    border-radius: 50px;
    background: #eee;
    text-align: center;
}

.icons-container .icons .content h3{
    color: var(--yellow);
    font-size: 25px;
}

.icons-container .icons .content p{
    color: var(--black);
    font-size: 15px;
}

.icons-container .icons:hover{
    background: var(--black);
}

.icons-container .icons:hover i{
    background: var(--yellow);
}

.icons-container .icons:hover .content h3{
    color: #fff;
}

.icons-container .icons:hover .content p{
    color: #eee;
}
/****************** Icons End **************/


/**************** Vehicles Start *******************/
.heading{
    text-align: center;
    padding-bottom: 20px;
    font-size: 45px;
    color: var(--black);
}

.vehicles .vehicles-{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 15px;
    padding-bottom: 50px;
}

.vehicles .vehicles- .box{
    text-align: center;
}

.vehicles .vehicles- .box img{
    width: 500px;
}

.vehicles .vehicles- .box .content h3{
    font-size: 25px;
    color: var(--black);
}

.vehicles .vehicles- .box .content .price{
    font-size: 25px;
    color: var(--yellow);
    padding: 10px 0;
    font-weight: bolder;
}

.vehicles .vehicles- .box .content .price span{
    font-size: 16px;
    color: #666;
    font-weight: normal;
}

.vehicles .vehicles- .box .content p{
    font-size: 15px;
    padding: 10px;
    padding-top: 10px;
    color: #666;
}

.vehicles .vehicles- .box .content p span{
    font-size: 10px;
    padding: 0 2px;
    color: var(--yellow);
}

.vehicles .vehicles- .box .content  .btnn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: .5rem;
    background: var(--light-yellow);
    color: var(--black);
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
    padding: .8rem 3rem;
}
/***************** Vehicles End *******************/


/*********** Services Start *************/

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 15px;
}

.services .box-container .box{
    text-align: center;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid;
}

.services .box-container .box .btnn{
    display: inline-block;
    margin-top: 10px;
    border-radius: .5rem;
    background: var(--light-yellow);
    color: var(--black);
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
    padding: .8rem 30px;
}

.services .box-container .box i{
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 25px;
    background: var(--yellow);
    border-radius: 50px;
    margin-bottom: 10px;
}

.services .box-container .box h3{
    font-size: 25px;
}

.services .box-container .box p{
    font-size: 14px;
    color: #666;
}
/************* Services End *************/


/*************** Car pArts Start ******************/

.car-parts .parts-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 15px;
}

.car-parts .parts-container .box{
    padding: 20px;
    border: 1px solid;
}

.car-parts .parts-container .part img{
    width: 200px;
    height: 190px;
    margin-left: 140px;
}

.car-parts .parts-container .part .btnn{
    display: inline-block;
    margin-top: 10px;
    background: var(--light-yellow);
    color: var(--black);
    font-weight: 500;
    font-size: 1.7rem;
    cursor: pointer;
    padding: .8rem 30px;
    margin-left: 160px;
}

.car-parts .parts-container .part h3{
    font-size: 25px;
    text-align: center;
}

.car-parts .parts-container .part p{
    color: var(--yellow);
    font-size: 20px;
    text-align: center;
}

.car-parts .heading{
    margin-top: 50px;
}
/* Car pArts End */